pyjwt
cryptography
pyparsing
pytz
psycopg[binary,pool]
pyOpenSSL
jsonschema
# Pinning SQLAlchemy to avoid v2.1, due to
# https://github.com/kvesteri/sqlalchemy-utils/issues/829
SQLAlchemy>=2.0.0,<2.1.0
alembic
six
requests
gunicorn[gevent]
flask
jinja2
markupsafe
itsdangerous
werkzeug
SQLAlchemy-Utils
passlib
kombu
boto3
redis
dciauth
tenacity
